# Variables Globales de Base de Datos
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=tiquet_db
DB_USERNAME=tiquet_user
DB_PASSWORD=secret_local
DB_ROOT_PASSWORD=secret_root

# Variables Globales de Redis
REDIS_HOST=redis
REDIS_PORT=6379

# URLs de los Servicios
FRONTEND_URL=http://localhost:3001
LARAVEL_API_URL=http://localhost:8000
NODE_SOCKET_URL=http://localhost:3000

# --- TMDB (The Movie Database) ---
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_TOKEN=
