# Ignorar node_modules para que no se copien al contenedor (se instalarán dentro)
node_modules
# Archivos de logs de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Archivos de entorno y git
.git
.env
.gitignore
README.md
Dockerfile
.dockerignore
# Archivos locales de sistemas operativos
.DS_Store
# Otros archivos innecesarios
dist
coverage
